.minesweeper{
    width: auto;
    height: auto;
    background: #c2c2c2;
    padding: 16px;
    border: 4px solid;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #fff;
    border-top-color: #fff;
}
.header{
    width: 100%;
    height: 60px;
    background: #c0c0c0;
    padding: 10px 12px;
    border: 4px solid;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board{
    width: 100%;
    height: 100%;
    margin-top: 16px;
    border: 4px solid;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    width: auto;
    display: flex;
    height: auto;
}
.face{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    font-size: 31px;
    border: 4px solid;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
    border-left-color: #fff;
    border-top-color: #fff;
    cursor: pointer;
    user-select: none;
}
.face:active{
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
}